head
	meta(charset='utf-8')
	meta(name='application-name' content=title || '')
	meta(name='description' content=pageDescription || '')
	meta(name='keywords' content=pageKeywords || '')
	-var timestamp = new Date();
	link(href='styles/app.min.css?t=' + timestamp rel='stylesheet')
	title= title || ""
	block head