.test-form
	width 600px
	span
		font-size 9px
		color #6A6A6A

.field
	position relative
	label
		display block
		margin 10px
		p
			display block
			width 200px
			height 30px
			float left
		input, select
			border #ccc 1px solid
			border-radius 5px
			padding 5px
	input[type="button"]
		position absolute
		top 6px
		right 0
		z-index 10
		background none
		border none
		font-size 16px

input[type="submit"]
	background #FAD34C
	font-weight bold
	padding 10px
	margin 10px
	border none

.simple
	.inputs
		width 380px
		.input
			width inherit
			input
				width inherit
				margin-bottom 0
#allCheck
	font-weight bold

#testnumber
	width 60px

.inputs
	display inline-block
	width 272px
	.input
		width 291px
		margin-top 5px
		&:last-child
			margin-bottom 0
			padding-bottom 0
		input
			width 272px
			margin-right 5px
		span
			cursor pointer

.checkbox
	font-size 12px
	input
		float left
		margin-right 5px
		// display inline
		// float left